fastapi
uvicorn[standard]
yt-dlp
webvtt-py
openai
python-multipart
wikipedia
langchain
faiss-cpu  # (or faiss-gpu if needed)
langchain-community
tiktoken
matplotlib
wordcloud
scikit-learn
textblob
transformers
wikipedia
python
-m textblob.download_corpora
