fastapi
uvicorn[standard]
yt-dlp
webvtt-py
openai
python-multipart
wikipedia
langchain-community
faiss-cpu
langchain
tiktoken
matplotlib
wordcloud
scikit-learn
textblob
googletrans==4.0.0-rc1
redis
sumy
