fastapi
uvicorn[standard]
yt-dlp
webvtt-py
openai
python-multipart
wikipedia
langchain
langchain-community
faiss-cpu
tiktoken
matplotlib
wordcloud
scikit-learn
textblob
sumy
redis
deep-translator
textblob
langchain-text-splitters
